*{
    margin:0px;
    padding:0px;
}

h1{
    margin-bottom: 2%;
    font-family:  Nunito, sans-serif;
    font-size: xx-large;
}

p{
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
}

.social{
    text-align: center;
}

.first{
    margin-top: 25%;
    height: 305px;
    background-color: #ededed;
}

.fa-facebook{
    color: #8d38ed;
    font-size: 30px;
    margin-top: 2%;
}

.fa-facebook:hover{
    color: #3b5998;
}

.fa-twitter{
    color: #8d38ed;
    font-size: 30px;
    margin-top: 2%;
    margin-left: 2%;
}

.fa-twitter:hover{
    color: #00acee;
}

.fa-instagram{
    color: #8d38ed;
    font-size: 30px;
    margin-top: 2%;
    margin-left: 2%;
}

.fa-instagram:hover{
    color: #8a3ab9;
}

.detail{
    padding: 50px;
    text-align: center;
}
