*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #fffff7;
    font-family: Roboto,sans-serif;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    width: 150px;
    height: 150px;
    position: relative;
    left: 150px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 40px 40px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: .1s;
}

nav ul li a:hover {
    color:#0b74fc;
}

.hover-line::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #0b74fc;
    transition:width .3s;
}

.hover-line:hover::after{
    width: 100%;
    transition:width .3s;
}
/* .logo-section{
    display:flex;
    flex-direction: row;

} */
/* .first{
    margin-left:60px;
    flex:1;
    padding-top:30px;
    padding-left:40px;
    padding-right:10px;
} */
.second{
    width:500px;
    margin-top: 20 px;
    margin-left:10px;
    padding-top:40px;
    margin-right:50px;
}
.header{
    display:flex;
    /* border-bottom: solid 2px; */
    /* border-color: rgb(192, 227, 252); */
    z-index: 1;
}
.logo-sect{
    width:600px;
    display:flex;
    
}
.menu{
    
    padding-left: 20px;
    display:flex;
    flex-direction:row;
    position: relative;
    top: 17px;
   
    
}
.menu-items{
    flex:1;
    padding-top:50px;
    padding-right:30px;
    margin-right:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold
    
    
}
.menu-items2{
    width:300px;
    flex:1;
    padding-top:50px;
    padding-right:30px;
    margin-right:55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold
}
a{
    color:rgb(65, 65, 65);
}



